html, body {
	height: 100%;
}

body {
	font-family: 'HankenGrotesk', system-ui;
  font-weight: var(--fw-regular);
  font-size: var(--s0);
  line-height: var(--ratio);
	color: hsl(var(--text-dark-900));
	margin: 0;
	padding: 0;
}

h1,
h2 {
  font-weight: var(--fw-bold);
  line-height: var(--line-height-small);
}

